<footer class="footer">
    <div class="footer__container">
        <section>
            <h2 class="footer__title">Sobre</h2>
            <p class="footer__about-text">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque pulvinar lacus ut maximus. Sed semper vestibulum ex vel luctus. Quisque commodo, odio tempus ultricies ornare, massa nibh pretium libero, nec fermentum mi ligula a mi. Sed sit amet lectus fringilla, placerat sem ac, finibus nisl. Duis nunc sem, varius vel quam eu, volutpat congue erat. Etiam id nulla scelerisque sem cursus euismod. Etiam nec ante a diam laoreet accumsan. Fusce sed feugiat mi. Morbi quis lacus sit amet est commodo imperdiet. Suspendisse ac molestie est, in placerat diam. Aenean tincidunt, leo vitae aliquam ultricies, leo nibh fringilla purus, sit amet hendrerit sapien turpis sed felis. 
            </p>
        </section>
        <address>
            <h2 class="footer__title">Contato</h2>
            <ul>
                <li><i class="fa-solid fa-envelope"></i>email@email.com</li>
                <li><i class="fa-solid fa-phone"></i>(00) 00000-0000</li>
                <li><i class="fa-brands fa-whatsapp"></i>(00) 00000-0000</li>
            </ul>
        </address>
    </div>
    <section class="footer__copyright">
        &copy; Todos os direitos reservados
    </section>
</footer>